<html>
    <head>
        <title>👁️ {{ meta["name"]|safe }}</title>

        {% include 'head.html' %}
        <script src="static/jquery-3.4.0.min.js"></script>
        <script src="static/alias.js"></script>
    </head>

    <html>
        <h1>👁️ {{ meta["name"]|safe }}</h1>

        {% if grants %}
        <h2>Grants</h2>
        <ul>
            {% for k, v in grants %}
            <li><a href="/grant/{{k}}">
                <code>{{k}}</code></a>:
                scopes <code>{{", ".join(v['grant_o']['scopes'])}}</code>
                for user <code>{{v['alias']['user']}}@{{v['alias']['domain']}}</code>
                at {{v['date']}}
            </li>
        {% endfor %}
        </ul>
        {% endif %}

        <button id="clear_all_grants">Clear all grants</button>

        <h2>Request new grant</h2>
        <h3 id="error" style="color: red;"></h3>
        <form id="login">
            <input id="name" placeholder="username@alias" />
            <input id="scopes" placeholder="provider.resource.*" />
            <input type="submit" value="Browse" />
        </form>

        <script>
$("#login").on("submit", function(e) {
    $("#error").hide();

    $.ajax({
        method: 'POST',
        url: '/grant',
        data: {
            name: $("#name").val(),
            scopes: $("#scopes").val(),
        },
    }).done(function(r) {
        if (r.state == "error") {
            $("#error").text("error: " + r.reason).show();
            return;
        }

        window.location = r.url;

    }).fail(function() {
        $("#error").text("error: cannot reach server").show();
    });

    return false;
});

$("#clear_all_grants").click(function() {
    $.ajax({
        url: "/clear_grants",
        method: 'POST'
    }).done(function() {
        window.location.reload();
    }).fail(function() {
        alert("server error");
    });
});


$(function() {
    $("#error").hide();
});
        </script>
    </html>
</html>

