dateutils
flask
flask-cors
msgpack
pyopenssl
pysodium
python-dateutil
requests
sqlalchemy

# worker
celery
redis

# explorer
redis
flask_session

# indexing
docker

# testing
nose

# cryptographic algorithms
ecdsa

# demo
sendgrid
